.custom-heading {
  color: blue;
  font-size: 24px;
  font-weight: bold;
}

.card {
  height: 175px;
  width: 170px;
}

.temp{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.border-3 {
  border-width: 3px;
}


.upload{
  position: relative;
}

.upload .round{
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgb(234 88 12);
  width: 35px;
  height: 35px;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(255 247 237);
}

.upload .round input[type='file'] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
}

/* dark mode looking scrollbar */

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #099B28;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

/* input:checked+.radio-tile {
  background-color: rgb(101 163 13);
  box-shadow: 0 0 12px rgb(101 163 13);
  transform: scale(1.1);
} */

input:hover+.radio-tile label, 
input:hover+.radio-tile .icon-style  {
  color: rgb(212 212 212);
}

.input-container:hover {
  border-color: white;
  background-color: rgb(64 64 64);
}

input:checked+.radio-tile .icon-style,
input:checked+.radio-tile label {
  color: white;
}

.input-container:has(input:checked) {
  border-color: rgb(229 229 229);
}

/* styles defined in index.css will be available to all components in the application, regardless of whether they import the CSS file or not.


 This global styling approach is commonly used for defining base styles, 
 such as default font styles, color schemes, or global layout configurations, 
 that are applied consistently across all components in the application.  

*/







